/* start */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap'); /* h1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); /* a */

h1 {
    font-family: 'Noto Sans', sans-serif;
    line-height: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: green;
    font-family: 'Noto Sans KR', sans-serif;

}

p {
    color: green;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    line-height: 150%;
}

.divider {
    width: 25%;
    height: 2px;
    border-width: 1px;
    border-color: #7C8A42;
    border-style: solid;
    background: 7C8A42;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 10px 0;
}

.divider_left {
    width: 40%;
    height: 2px;
    border-width: 1px;
    border-color: #7C8A42;
    border-style: solid;
    background: #7C8A42;

    position: relative;
    margin: 8px 0 8px 10px;
}

.add_textAlignLeft {
    text-align: left;
    margin: 5px 0 5px 10px;
}
h1.add_textAlignLeft {
    margin: 10px 0 10px 10px;
}

.add_textAlignCenter {
    text-align: center;
}

.add_textColorBlack {
    color: black;
}