@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

.hidden {
    display: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charsize_screen {
    font-size: 125px;
}

#isntInUser {
    width: 40vw;
    height: 10vh;
    background-color: black;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register_form > input {
    width: 20vw;
    height: 4vh;
    background: none;
    border: 1px solid mediumspringgreen;
    border-radius: 1vh;
    color: white;
    font-size: 1.5vh; 
    /* Bug Report: 위 코드(44줄) 추가 시 체크인 버튼보다 input태그 부분의 height이 더 길어 보이는 경향성이 있음
    . */
}

#register_form > button {
    width: 2.5vw;
    height: 4vh;
    background: none;
    border: 1px solid mediumseagreen;
    border-radius: 1vh;
    color: white;
}